[Unit]
Description=Docker backup repository check for %i
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/docker-backup/maintain-repository check /etc/docker-backup/repos/%i.conf
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
TimeoutStartSec=2h
